{% load staticfiles %}
<html>

<head>

    <title>正在跳转</title>

    <meta http-equiv="Content-Language" content="zh-CN">

    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=gb2312">

    <meta http-equiv="refresh" content="0.2;url={% url 'index' %}">

</head>

<body>
    <pre>
 ________  ________  ___       __   _______   ________  _______   ________          ________      ___    ___ 
|\   __  \|\   __  \|\  \     |\  \|\  ___ \ |\   __  \|\  ___ \ |\   ___ \        |\   __  \    |\  \  /  /|
\ \  \|\  \ \  \|\  \ \  \    \ \  \ \   __/|\ \  \|\  \ \   __/|\ \  \_|\ \       \ \  \|\ /_   \ \  \/  / /
 \ \   ____\ \  \\\  \ \  \  __\ \  \ \  \_|/_\ \   _  _\ \  \_|/_\ \  \ \\ \       \ \   __  \   \ \    / / 
  \ \  \___|\ \  \\\  \ \  \|\__\_\  \ \  \_|\ \ \  \\  \\ \  \_|\ \ \  \_\\ \       \ \  \|\  \   \/  /  /  
   \ \__\    \ \_______\ \____________\ \_______\ \__\\ _\\ \_______\ \_______\       \ \_______\__/  / /    
    \|__|     \|_______|\|____________|\|_______|\|__|\|__|\|_______|\|_______|        \|_______|\___/ /     
                                                                                                \|___|/      
                                                                                                             
 ___    ___ ________  ___  ___     
|\  \  /  /|\_____  \|\  \|\  \    
\ \  \/  / /\|___/  /\ \  \\\  \   
 \ \    / /     /  / /\ \   __  \  
  /     \/     /  /_/__\ \  \ \  \ 
 /  /\   \    |\________\ \__\ \__\
/__/ /\ __\    \|_______|\|__|\|__|
|__|/ \|__|                        
                                   
 ___       __       ___    ___ 
|\  \     |\  \    |\  \  /  /|
\ \  \    \ \  \   \ \  \/  / /
 \ \  \  __\ \  \   \ \    / / 
  \ \  \|\__\_\  \   \/  /  /  
   \ \____________\__/  / /    
    \|____________|\___/ /     
                  \|___|/      
                               
    ___  ___  ___  ________     
   |\  \|\  \|\  \|\   ____\    
   \ \  \ \  \\\  \ \  \___|    
 __ \ \  \ \   __  \ \  \       
|\  \\_\  \ \  \ \  \ \  \____  
\ \________\ \__\ \__\ \_______\
 \|________|\|__|\|__|\|_______|
                                     
 _____ ______       ___    ___ ________     
|\   _ \  _   \    |\  \  /  /|\   ____\    
\ \  \\\__\ \  \   \ \  \/  / | \  \___|    
 \ \  \\|__| \  \   \ \    / / \ \  \       
  \ \  \    \ \  \   \/  /  /   \ \  \____  
   \ \__\    \ \__\__/  / /      \ \_______\
    \|__|     \|__|\___/ /        \|_______|
                  \|___|/                   
                                            
                                            
                                        
</pre>
</body>

</html>