<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Region</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        /* 用于地图展示的style */
        .centerItem {
            width: 856px;
            height: 640px;
            background-color: #003077;
            /* margin: 110px auto 0 auto; */
        }
    </style>
</head>
<body class="container" style="text-align: center;">
    <div class="row">
        <div class="col-12" style="width:100%;height:100%;">
            <button type=" submit " class="total-stream btn btn-info" onclick="javascript:location.href='index.html'">总流量</button>
            <button type=" submit " class="region-stream btn btn-info" onclick="javascript:location.href='region.html'">域间</button>
            <button type=" submit " class="upload-stream btn btn-info" onclick="javascript:location.href='shangxing.html'">上行</button>
            <button type=" submit " class="download-stream btn btn-info" onclick="javascript:location.href='xiaxing.html'">下行</button>
            <button type=" submit " class="task-stream btn btn-info" onclick="javascript:location.href='task.html'">任务</button>
        </div>
    </div>
</body>
</html>