<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <!--meta-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> </title>
    <!--css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <style>
        div {
            border: 1px solid black;
        }

        .map-box {
            height: fit-content;
            min-height: 400px;
        }
    </style>
</head>

<body class="container-fluid">

    <div class="row">
        <div class="map-box col-sm-12 col-lg-4">

        </div>
        <div class="map-box col-sm-12 col-lg-4">

        </div>
        <div class="map-box col-sm-12 col-lg-4">

        </div>
    </div>

    <div class="row">
        <div class="map-box col-sm-12 col-lg-4">

        </div>
        <div class="map-box col-sm-12 col-lg-4">

        </div>
        <div class="map-box col-sm-12 col-lg-4">

        </div>
    </div>

    <div class="row">
        <div class="map-box col-sm-12 col-lg-4">

        </div>
        <div class="map-box col-sm-12 col-lg-4">

        </div>
        <div class="map-box col-sm-12 col-lg-4">

        </div>
    </div>

    <!--script-->
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/china.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
        </script>
</body>

</html>